<div class="container">
    <footer class="row d-flex justify-content-between  py-3 my-4 border-top">   
        <ul class="nav col-md-5 col-12 ">     
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acerca de mi</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Experiencia</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Educacion</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Habilidades</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Proyectos</a></li>
        </ul>    
        <a href="/" class="col-12 col-md-3 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="../../../assets/APlogo2.png" alt="" >
        </a>
        <div class="miNombre col-12 col-md-3 d-flex align-items-end mb-3 mb-md-0 me-md-auto">
            <p class="text-muted">© 2022 Daia Urquilla</p>
        </div>
    </footer>   
</div>

