#logo{
    width: 100px; 
    margin-right: 10%;
}

.redes img{
    width: 40px;
    padding-right: 3px;
}

.navbar{
    background-color: #A64B63;        
    color: #F2F2F2;
    
}
.row{
    display: contents;
}

header{
    color: #F2F2F2;    
}


.col-auto {   
    display: flex;
    align-items: center;
}

.me-auto{
    margin-bottom: 10px;
}

#dropdown05{
    color: #F2F2F2;
}

.btn{
    background-color: #F2F2F2 ;
    color: #A64B63;
    border-style: none;   
}

@media(max-width: 766px){    
    img{
        width: 100px;
    }   
}