<header>
  <nav class="navbar" aria-label="Fifth navbar example">
    <div class="container-fluid">
      <div class="row">

        <div class="col-auto me-auto">
          <img src="../../../assets/APlogo.png"  id="logo"/>
          <div class="dropdown dropdown-item">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
              Menu
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Acerca de mi</a></li>
              <li><a class="dropdown-item" href="#">Experiencia</a></li>
              <li><a class="dropdown-item" href="#">Educacion</a></li>
              <li><a class="dropdown-item" href="#">Habilidades</a></li>
              <li><a class="dropdown-item" href="#">Proyectos</a></li>
            </ul>
          </div>
        </div>

        <div class="col-auto">
          <div class="redes">
            <a href="https://www.facebook.com/daia.urquilla.5/"><img src="../../../assets/facebook.png" alt="" /></a>
            <a href="https://www.instagram.com/daiaurquilla/"><img src="../../../assets/instagram.png" alt="" /></a>
            <a href="https://www.linkedin.com/in/daiana-urquilla-17712b22a/"><img src="../../../assets/linkedin.png"
                alt="" /></a>
            <a href="https://github.com/DaiaUrq"><img src="../../../assets/github.png" alt="" /></a>
          </div>
          <div>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Salir</button>
          </div>
        </div>

      </div>
    </div>
  </nav>
  <app-banner></app-banner>
</header>