<div class="px-6 py-5 my-5 text-center">  
  <div class="col-lg-4 mx-auto border rounded-3">     
    <a href="/"><img class="d-block mx-auto mb-4" src="../../../assets/APlogo.png" alt=""></a>
    <h1 class="display-6 fw-bold">Ingreso</h1>

    <form #f="ngForm" (ngSubmit)="onLogin()" class="p-4" novalidate>
      <hr class="my-4">
      <div class="form-floating mb-3">
        <input type="user" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" requiered />
        <label for="nombreUsuario">Nombre de usuario</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" id="password" name="password" class="form-control" placeholder="password" [(ngModel)]="password" name="password" required/>
        <label for="password">Password</label>
      </div>
      <button class="btn btn-outline-light btn-lg px-5" type="submit">Ingresar!</button>
      <hr class="my-4">     
    </form>   

  </div>
</div>